body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
a,
button {
  transition: 0.3s;
}
.navbar {
  width: 100%;
  padding-top: 60px;
  background: transparent;
  position: absolute;
  top: 0;
}
.navbar-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar button {
  width: 250px;
  height: 60px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 5px 5px rgb(226, 225, 225);
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: hsl(192, 100%, 9%);
}
.navbar button:hover {
  cursor: pointer;
  opacity: 0.7;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}
p {
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: hsl(192, 100%, 9%);
}
.section-one {
  background-image: url("images/bg-hero-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 200px;
  background-color: #eaf9ff;
}
.section-one-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.section-one-left button {
  width: 330px;
  height: 65px;
  border-radius: 100px;
  background-color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: white;
  border: none;
}
.section-one-left button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.section-one-left {
  width: 35%;
}
.section-one-left h1 {
  font-size: 45px;
}
.section-one-right {
  width: 55%;
}
.section-one-right img {
  width: 100%;
}
.slider {
  padding-top: 200px;
}
.slider-first,
.slider-second,
.slider-third {
  padding-bottom: 50px;
  width: 80%;
  margin: auto;
}
.cerceve {
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0 0 10px 10px whitesmoke;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}
.cerceve p {
  color: gray;
}
.cerceve h2 {
  font-size: 30px;
}
.slider-first img,
.slider-second img,
.slider-third img {
  width: 500px;
}
.final-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.final-section h1 {
  font-size: 40px;
}
.final-section .ready {
  box-shadow: 0 0 10px 10px whitesmoke;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.final-section .ready button {
  color: white;
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 120px;
  padding-right: 120px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.final-section .ready button:hover {
  opacity: 0.7;
  cursor: pointer;
}
footer {
  background: hsl(192, 100%, 9%);
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
}
footer .huddle {
  padding-bottom: 80px;
}
footer .footer-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
footer .box {
  width: 30%;
}
footer .first {
}
footer .hiza {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
}
footer .yazi {
  color: white;
  font-size: 18px;
  padding-left: 30px;
}
footer ul li {
  list-style: none;
  padding-top: 30px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer .third {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
footer .kaydirma {
  padding-left: 30px;
}
footer .linkler {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
footer .hizalama {
  border: 1px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .hizalama:hover {
  border: 1px solid hsl(322, 100%, 66%);
  transition: 0.3;
}
footer .hizalama a {
  color: white;
}
footer .hizalama:hover a {
  color: hsl(322, 100%, 66%);
}
.reserved {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 200px;
}
